[A]
br Brasil
hr Croacia
mx Mexico
cm Camerún
[B]
es España
nl Holanda
cl Chile
au Australia
[C]
co Colombia
gr Grecia
ci C. de Marfil
jp Japón
[D]
uy Uruguay
cr Costa Rica
en Inglaterra
it Italia
[E]
sz Suiza
ec Ecuador
fr Francia
hn Honduras
[F]
ar Argentina
ba Bosnia
ir Irán
ng Nigeria
[G]
de Alemania
pt Portugal
gh Ghana
us EE.UU.
[H]
be Bélgica
dz Argelia
ru Rusia
kr Corea del Sur
