[A]
za South Africa	
mx Mexico	
uy Uruguay	
fr France	
[B]
ar Argentina	
ng Nigeria	
kr Korea Republic	
gr Greece	
[C]
en England	
us USA	
dz Algeria	
si Slovenia	
[D]
de Germany	
au Australia	
rs Serbia	
gh Ghana	
[E]
nl Netherlands	
dk Denmark	
jp Japan	
cm Cameroon	
[F]
it Italy	
py Paraguay	
nz New Zealand	
sk Slovakia	
[G]
br Brazil	
kp Korea DPR	
ci Côte d'Ivoire	
pt Portugal	
[H]
es Spain	
sz Switzerland	
hn Honduras	
cl Chile	
