html, body {
	background-color: #486793;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11pt;
}

#wrapper {
	min-width: 800px;
	max-width: 1000px;
	margin: 1em auto;
	background-color: white;
	padding: 1em 2em;
}

#group_phase input {
    visibility: hidden;
}
#group_phase {
    overflow: hidden;
}
.group {
    float:left;
    width: 25%;
    min-height: 450px;
}
.group .title {
	margin: 0 auto 1ex;
	font-size: 40px;
	width: 40px;
	text-align: center;
}
.team_table {
    position: relative;
    height: 100px;
}
.team {
	height: 25px;
	overflow: hidden;
	border: 1px solid #A0B2BE;
}
.team .name {
	float: left;
	width: 80%;
}
.team .points {
	float: right;
	width: 20%;
}
.team {
    position: absolute;
    width: 100%;
}
.team_1 { top: 0px; }
.team_2 { top: 25px; }
.team_3 { top: 50px; }
.team_4 { top: 75px; }
.team img {
	width: 20px;
	vertical-align: middle;
	margin: 0 3px 3px 0;
}
#round_phase {
    padding-top: 20px;
}
.round {
    overflow: auto;
    padding: 20px;
    border: 1px solid #AAAAAA;
    margin-bottom: 10px;

}
.wrap {
    overflow: auto;
    margin: 0px auto;
}

.round .match {
    width: 25%;
    float: left;
}
.round .title {
    text-align: center;
}

.match {
    position: relative;
}
.match .teams, .match .results, .match .location, .match .hour {
    margin-left: 40px;
}
.match .month {
    position: absolute;
    left: 0px;
    top: 10px;
}
.match .day {
    position: absolute;
    left: 0px;
    top: 30px;
    background-color: #EEEEEE;
}

