html, body {
	background-color: #486793;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11pt;
}

#wrapper {
	min-width: 800px;
	max-width: 1000px;
	margin: 1em auto;
	background-color: white;
	padding: 1em 2em;
}

#group_phase input {
    visibility: hidden;
}
#group_phase {
    overflow: hidden;
}
.column {
    float:left;
    width: 25%;
    min-height: 450px;
}

.group {
    border: 1px solid #AAAAAA;
    margin: 3px;
    padding: 1ex;
}

.group .title {
	margin: 0 auto 1ex;
	font-size: 40px;
	width: 40px;
	text-align: center;
}
.team_table {
    position: relative;
    height: 116px;
}
.team {
	height: 23px;
	overflow: hidden;
	border: 1px solid #A0B2BE;
        padding: 1px 2px;
        font-size: 90%;
}
.team .name {
	float: left;
	width: 80%;
        
}
.team .points {
	float: right;
	width: 20%;
}
.team {
    position: absolute;
    width: 100%;
}
.team_1 { top: 0px; }
.team_2 { top: 27px; }
.team_3 { top: 54px; }
.team_4 { top: 81px; }
.team_1, .team_3 {
    background-color: #A0B2BE;
}
.team img {
	width: 20px;
	vertical-align: middle;
	margin: 0 3px 0 0;
}
#round_phase {
    padding-top: 20px;
}
.round {
    overflow: auto;
    padding: 20px;
    border: 1px solid #AAAAAA;
    margin-bottom: 10px;

}
.wrap {
    overflow: auto;
    margin: 0px auto;
}

.wrap.r2 .match:first-child {
    margin-left: 25%;
}

.wrap.r1 .match:first-child {
    margin-left: 37.5%;
}

.round .match {
    width: 25%;
    float: left;
}
.round .title {
    text-align: center;
}

.match {
    position: relative;
    padding: 10px 0px;
}
.match .location, .match .hour {
    font-size: 70%;
    color: #777777;
}
.match .teams, .match .results, .match .location, .match .hour {
    margin-left: 50px;
}
.match .teams {
    font-size: 80%;
}

.match .month {
    position: absolute;
    left: 0px;
    top: 16px;
    background-color: white;
    border: 1px solid #486793;
    width: 40px;
    text-align: center;
    padding-bottom: 2px;
    font-size: 60%;
    min-height: 12px;
}
.match .day {
    position: absolute;
    left: 0px;
    top: 32px;
    width: 42px;
    height: 28px;
    background-color: #486793;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}
select {
    font-size: 10px
}
