{% extends "base.html" %}
{% load filters %}


{% block script %}

Array.prototype.sum = function(){
    for(var i=0,sum=0;i<this.length;sum+=this[i++]);
    return sum;
}

var qualifications = [
{% for q in qualifications %}
    {
        {% if q.group %}'group': '{{ q.group.name }}',{% endif %}
        {% if q.round %}'round': {{ q.round.id }},{% endif %}
        'position': {{ q.position }},
        'qualify_for': {{ q.qualify_for.id }},
        'side': '{{ q.side }}'
    }{% if not forloop.last %},{% endif %}
{% endfor %}
];

var teams = {
{% for team in teams %}
        {{ team.code }}: "{{ team.name|trim|safe }}" {% if not forloop.last %},{% endif %}
{% endfor %}
};

var bets = {
{% for bet in bets %}
{% if bet.match_id %}
    {{ bet.match_id }}
{% else %}
    {{ bet.id }}
{% endif %}: { 
        'home_goals': {{ bet.home_goals|default:"0" }}, 
        'visitor_goals': {{ bet.visitor_goals|default:"0" }},
        {% if bet.match.groupname %}
            'group': '{{ bet.match.groupname }}',
            'winner': '{{ bet.winner|default:"T" }}'
        {% else %}
            'winner': '{{ bet.winner|default:"H" }}'
        {% endif %}
        {% if not editable and not bet.winner %}
        , 'pending': true
        {% endif %}
        
}{% if not forloop.last %},{% endif %}
{% endfor %}
};

{% if points %}
var points = { 
    'group_points': {
{% for group in points.group_points.items %}
    '{{ group.0 }}': [
    {% for points in group.1 %}
        { 'points': {{ points.0 }}, 
          'reason': "{{ points.1 }}" 
        }{% if not forloop.last %},{% endif %}
    {% endfor %}
    ]{% if not forloop.last %},{% endif %}
{% endfor %}
    },

    'match_points': {
{% for match in points.match_points.items %}
    {{ match.0 }}: [
    {% for points in match.1 %}
        { 'points': {{ points.0 }},
          'reason': "{{ points.1 }}"
        }{% if not forloop.last %},{% endif %}
    {% endfor %}
    ]{% if not forloop.last %},{% endif %}
{% endfor %}
    }
};
{% endif %} 

{% if editable %}
function send() {
    var hidden = $("bets");
    hidden.value = Object.toJSON(bets);
    return true;
}
function changed(element) {
    var extract_id = new RegExp("\\d+");
    var match_id = extract_id.exec(element.id)[0];
    if (element.type == "radio") { // A radio button
        if (bets[match_id]["home_goals"] == bets[match_id]["visitor_goals"]) {
            if (new RegExp("h").test(element.id)) { // Home 
                bets[match_id].winner = "H";
            } else {
                bets[match_id].winner = "V";
            }
        }
    } else {
        if (new RegExp("h").test(element.id)) { // Home
            bets[match_id].home_goals = parseInt(element.value);
        } else {
            bets[match_id].visitor_goals = parseInt(element.value);
        }
    }
    if (bets[match_id].home_goals > bets[match_id].visitor_goals) {
        bets[match_id].winner = "H";
        $(match_id + "_" + 'h' + "_win").checked = "true";
    } else if (bets[match_id].home_goals < bets[match_id].visitor_goals) {
        bets[match_id].winner = "V";
        $(match_id + "_" + 'v' + "_win").checked = "true";
    } else {
        if (bets[match_id].group) {
            bets[match_id].winner = "T";
        }
    }       
    if (bets[match_id].group) {
        update_group(bets[match_id].group);             
    } else {
        update_rounds();
    }
}

{% endif %}
var pending_groups = 0;
 
function update_group(group) {

    group_matches = [];
        
    $H(bets).each(function(pair){ 
        if (pair.value.group==group) {
            var winner = null;
            if (!pair.value.pending) {
                winner = pair.value.winner;
            }
            group_matches.push({
                                'id': parseInt(pair.key),
                                'home_goals': parseInt(pair.value.home_goals),
                                'visitor_goals': parseInt(pair.value.visitor_goals),
                                'winner': winner
                                });
        }
    });
    pending_groups++;
    new Ajax.Request("/rank_group/" + group, {
             'method': 'post',
             'parameters': {
                    'matches': Object.toJSON(group_matches)
                },
             'onSuccess': group_updated,
             'on403': function() {
                 window.location.reload();
             }
    }); 
}


function group_updated(response) {
    var order = JSON.parse(response.responseText);
    for (i = 0; i < order.length; i++) {
        $(order[i][0]).setAttribute("class", "team team_" + parseInt(i + 1));
        $$("#" + order[i][0] + " .points")[0].update(order[i][1]);
    }
    if (pending_groups > 0) {
        pending_groups--;
    }
    if (pending_groups == 0) {
        update_rounds();
    }
}

function update_rounds() {
    qualifications.each(function(q) {
        if (q.group) {
            var query = "#table_" + q.group;
            query += " .team_" + q.position;
            var orig_team = $$(query)[0];
            var team = teams[orig_team.id];
        } else {
            var winner;
            if (bets[q.round].winner == 'T') {
                winner = 'h';
            } else {
                winner = bets[q.round].winner.toLowerCase();
            }
            var loser = 'v';
            if (winner == 'v') {
                loser = 'h';
            }

            if (q.position == 1) { // Winner
                var team = $(q.round + "_" + winner + "_team").innerHTML;    
            } else {
                var team = $(q.round + "_" + loser + "_team").innerHTML;
            }
        }
        var team_node = $(q.qualify_for + "_" + q.side.toLowerCase() + "_team");
        team_node.update(team);
    });
}

function update_points() {
    $H(points.match_points).each(update_element_points);
    $H(points.group_points).each(update_element_points);
}
function update_element_points(pair) { 
    var element = pair.key;
    var points = pair.value;
    var total_points = points.map(function(el){return el.points}).sum();
    $(element + "_points").update(total_points + " puntos");
}

function init() {
    var groups = [];
    $H(bets).each(function(pair){
        match = pair.key;
        data = pair.value;
        // Getting the DOM ids for input data
        home_goals_id = match + "_h";
        visitor_goals_id = match + "_v";
        radio_h_id = home_goals_id + "_win";
        radio_v_id = visitor_goals_id + "_win";
   
        {% if editable %}
        $(home_goals_id).value = data.home_goals;
        $(visitor_goals_id).value = data.visitor_goals;
        {% else %}
        if (data.pending) {
            $(home_goals_id).update("--");
            $(visitor_goals_id).update("--");
        } else {
            $(home_goals_id).update(data.home_goals);
            $(visitor_goals_id).update(data.visitor_goals);
        }
        {% endif %}
             
        if (data.group == null) {
            // Not the first round
            if (data.winner == 'H' || data.winner == 'T') {
                $(radio_h_id).checked = true;     
            } else {
                $(radio_v_id).checked = true;
            }
        } else {
            groups.push(data.group);
        }          
    });
    groups.uniq().each(update_group);
    {% if points %}
    update_points();
    {% endif %}
}

{% endblock %}


{% block content %}
<div id="wrapper">
<div id="total_score">
{% if not editable and total_score %}
Total: {{ total_score }} puntos
{% endif %}
</div>
{% if bet_user %}
<div id="user_name">
{% if bet_user.first_name %} {{ bet_user.first_name }} {% else %} {{ bet_user.username }} {% endif %}
</div>
{% endif %}
<div id="group_phase">
{% for group in groups %}
  <div class="column">
  <div class="group">
        <div class="title">{{ group.name }}</div>
        <div class="team_table" id="table_{{ group.name }}">
                {% for team in group.team_set.values %}
                 <div class="team team_{{ forloop.counter }}" id="{{ team.code }}"> 
                    <div class="name">
                         <img src="{{ STATIC_URL }}/img/flags/{{ team.code }}.png" />
                         {{ team.name }}
                    </div>
                    <div class="points"> - </div>
                 </div>
                {% endfor %}
        </div>
        <div class="user_points" id="{{ group.name }}_points"></div>
        {% for match in group.matches %}
        {% include "match.html" %}
        {% endfor %}
  </div>
  </div>
{% endfor %}
</div>

<div id="round_phase">
{% for round in rounds %}
  <div class="round">
        <div class="title">{{ round.0 }}</div>
        <div class="wrap r{{ round.1|length }}">
        {% for match in round.1 %}
        {% include "match.html" %}
        {% endfor %}
        </div>
  </div>
{% endfor %}
</div>
{% if editable %}
{% url conbet.views.index as url %} 
<form id="betting" action="{{ url }}" method="post" onsubmit="return send();">
<input type="hidden" name="bets" id="bets" />
<input type="submit" value="Enviar" />
</form>
{% endif %}

</div> <!-- wrapper -->

{% endblock %}
