{% extends "base.html" %}
{% load filters %}
{% block content %}
<div id="group_phase">
{% for group in groups %}
  <div class="group">
        <div class="title">{{ group.name }}</div>
  	<div class="team_table" id="table_{{ group.name }}">
	</div>
	{% for match in group.matches %}
	{% include "match.html" %}
  	{% endfor %}
  </div>
{% endfor %}
</div>

<div id="round_phase">
{% for round in rounds %}
  <div class="round">
        <div class="title">{{ round.0 }}</div>
  	{% for match in round.1 %}
	{% include "match.html" %}
  	{% endfor %}
  </div>
{% endfor %}
</div>
{% endblock %}
