{% extends "base.html" %}
{% load filters %}


{% block script %}

var qualifications = [
{% for q in qualifications %}
    {
        {% if q.group %}'group': '{{ q.group.name }}',{% endif %}
        {% if q.round %}'round': {{ q.round.id }},{% endif %}
        'position': {{ q.position }},
        'qualify_for': {{ q.qualify_for.id }},
        'side': '{{ q.side }}'
    }{% if not forloop.last %},{% endif %}
{% endfor %}
];

var teams = {
{% for team in teams %}
	{{ team.code }}: "{{ team.name|sanitized|safe }}" {% if not forloop.last %},{% endif %}
{% endfor %}
};

var bets = {
{% for bet in bets %}
{% if bet.match_id %}
    {{ bet.match_id }}
{% else %}
    {{ bet.id }}
{% endif %}: { 
	'home_goals': {{ bet.home_goals|default:"0" }}, 
	'visitor_goals': {{ bet.visitor_goals|default:"0" }},
	'winner': '{{ bet.winner|default:"H" }}'
}{% if not forloop.last %},{% endif %}
{% endfor %}
};

{% if points %}
var points = { 
    'group_points': {
{% for group in points.group_points.items %}
    '{{ group.0 }}': [
    {% for points in group.1 %}
        { 'points': {{ points.0 }}, 
          'reason': "{{ points.1 }}" 
        }{% if not forloop.last %},{% endif %}
    {% endfor %}
    ]{% if not forloop.last %},{% endif %}
{% endfor %}
    },

    'match_points': {
{% for match in points.match_points.items %}
    {{ match.0 }}: [
    {% for points in match.1 %}
        { 'points': {{ points.0 }},
          'reason': "{{ points.1 }}"
        }{% if not forloop.last %},{% endif %}
    {% endfor %}
    ]{% if not forloop.last %},{% endif %}
{% endfor %}
    }
};
{% endif %} 

{% if editable %}
function send() {
	$H(bets).each(function(pair){
	     match = pair.key;
	     data = pair.value;
             home_goals_id = match + "_h";
	     visitor_goals_id = match + "_v";
             radio_h_id = home_goals_id + "_win";
	     radio_v_id = visitor_goals_id + "_win";
             
             data.home_goals = $(home_goals_id).value;
	     data.visitor_goals = $(visitor_goals_id).value;
	     
	     // FIXME: think in a better way of checking if the bet is for the
	     // first round or not
	     if ($(radio_h_id).style.visibility != "hidden") {
                  // Not the first round
                  if (data.home_goals == data.visitor_goals) {
                      if ($(radio_h_id).checked) {
		          data.winner = 'H';
                      } else {
		          data.winner = 'V';
                      }
                  }
	     }
	});
	
	
	var hidden = $("bets");
	hidden.value = Object.toJSON(bets);
	return true;
}
{% endif %}

function init() {
	$H(bets).each(function(pair){
	     match = pair.key;
	     data = pair.value;
             // Getting the DOM ids for input data
             home_goals_id = match + "_h";
	     visitor_goals_id = match + "_v";
             radio_h_id = home_goals_id + "_win";
	     radio_v_id = visitor_goals_id + "_win";
             
             {% if editable %}
	     $(home_goals_id).value = data.home_goals;
	     $(visitor_goals_id).value = data.visitor_goals;
             {% else %}
	     $(home_goals_id).update(data.home_goals);
	     $(visitor_goals_id).update(data.visitor_goals);
             {% endif %}
	     
	     // FIXME: think in a better way of checking if the bet is for the
	     // first round or not
	     if ($(radio_h_id).style.visibility != "hidden") {
                  // Not the first round
                  if (data.winner == 'H') {
		       $(radio_h_id).checked = true;     
                  } else {
                       $(radio_v_id).checked = true;
		  }
	     }
	});

}

{% endblock %}


{% block content %}
<div id="group_phase">
{% for group in groups %}
  <div class="group">
        <div class="title">{{ group.name }}</div>
  	<div class="team_table" id="table_{{ group.name }}">
	</div>
	{% for match in group.matches %}
	{% include "match.html" %}
  	{% endfor %}
  </div>
{% endfor %}
</div>

<div id="round_phase">
{% for round in rounds %}
  <div class="round">
        <div class="title">{{ round.0 }}</div>
  	{% for match in round.1 %}
	{% include "match.html" %}
  	{% endfor %}
  </div>
{% endfor %}
</div>
{% if editable %}
{% url conbet.views.index as url %} 
<form action="{{ url }}" method="post" onsubmit="return send();">
<input type="hidden" name="bets" id="bets" />
<input type="submit" value="Send" />
</form>
{% endif %}

{% endblock %}
