{% load filters %}
<div class="match">
        <div class="month">{{ match.date.month }}</div>
        <div class="day">{{ match.date.day }}</div>
        <div class="hour">{{ match.date|date:"H:i" }}</div>
        <div class="location">{{ match.location|default:"--" }}</div>
        <div class="teams"> <span id="{{ match.id }}_h">{{ match.home|default:"--" }}</span> - 
            <span id="{{ match.id }}_v">{{ match.visitor|default:"--" }}</span> </div>
        <div class="results">
            {% if editable %}
                <input type="radio" id="{{ match.id }}_h_win" 
                       name="{{ match.id }}_radio" />
                <select id="{{ match.id }}_h">
                {% for value in valid_goals %}
                        <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
                </select>
                -
                <select id="{{ match.id }}_v">
                {% for value in valid_goals %}
                        <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
                </select>
                <input type="radio" id="{{ match.id }}_v_win" 
                       name="{{ match.id }}_radio"/>
            {% else %}
                <input type="radio" id="{{ match.id }}_h_win" 
                       name="{{ match.id }}_radio" disabled="true"/>
                <span id="{{ match.id }}_h"></span>
                -
                <span id="{{ match.id }}_v"></span>
                <input type="radio" id="{{ match.id }}_v_win" 
                       name="{{ match.id }}_radio" disabled="true"/>
            {% endif %}
        </div>
</div>
