{% extends "base.html" %}
{% load filters %}
{% block script %}
</script>
<script type="text/javascript" src="http://twitstat.us/twitstat.us-min.js"></script>
<script type="text/javascript">
    twitstat.badge.init({
        badge_container: "twitter_box",
        title: "#ConbetCup en Twitter",
        keywords: "#conbetcup",
        max: 7,
        border_color: "#486793",
        header_background: "#486793",
        header_font_color: "#ffffff",
        content_background_color: "#e1e1e1",
        content_font_color: "#333333",
        link_color: "#307ace",
        width: 250
    });
{% endblock %}

{% block content %}
<div id="wrapper">
<div class="twitstatus_badge_container" id="twitter_box"></div>
<table id="ranking" cellspacing="0">
    <thead>
        <tr>
            <th>Posición</th>
            <th>Usuario</th>
            <th>Puntos</th>
            <th>Premio</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr class="{% cycle 'odd' 'even' %} {{ user.class_name }}">
            <td>{{ user.position }}</td>
            {% url conbet.views.bet user.name as bet_url %}
            <td><a href="{{ bet_url }}" title="{{ user.lastname }}">
                {% if user.firstname %}
                {{ user.firstname }}
                {% else %}
                {{ user.name }}
                {% endif %}
            </a></td>
            <td>{{ user.points }}</td>
            <td>{{ user.prize|floatformat:2 }} {% if user.prize %} &euro; {% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
