{% extends "base.html" %}
{% load filters %}

{% block content %}
<div id="wrapper">
<table id="ranking" cellspacing="0">
    <thead>
        <tr>
            <th>Posición</th>
            <th>Usuario</th>
            <th>Puntos</th>
            <th>Premio</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr class="{% cycle 'odd' 'even' %} {{ user.class_name }}">
            <td>{{ user.position }}</td>
            {% url conbet.views.bet user.name as bet_url %}
            <td><a href="{{ bet_url }}" title="{{ user.lastname }}">
                {% if user.firstname %}
                {{ user.firstname }}
                {% else %}
                {{ user.name }}
                {% endif %}
            </a></td>
            <td>{{ user.points }}</td>
            <td>{{ user.prize|floatformat:2 }} {% if user.prize %} &euro; {% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
