{% extends "base.html" %}
{% load filters %}

{% block content %}
<div id="wrapper">
<table id="ranking">
    <thead>
        <tr>
            <th>Position</th>
            <th>Username</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ user.position }}</td>
            {% url conbet.views.bet user.name as bet_url %}
            <td><a href="{{ bet_url }}">{{ user.name }}</a></td>
            <td>{{ user.points }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
