<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Conbet cup</title>
	<link type="text/css" href="{{ STATIC_URL }}/css/style.css" rel="stylesheet" />
<script type="text/javascript" 
    src="{{ STATIC_URL }}/lib/prototype.js"></script>

<script type="text/javascript">
 {% block script %}
	function init() {}
 {% endblock %}
</script>
</head> 
<body onload="init()">
{% if user.username %}
{% url django.contrib.auth.views.logout as logout %}
<div id="header">
<img id="logo" src="{{ STATIC_URL }}/img/logo.png"/>
    <h1>Conbet Cup</h1>

    <div id="logout">
    Bienvenido, {{ user.username }}. <a href="{{ logout }}">Salir</a>
    </div>
</div>
<ul id="menu">
{% url conbet.views.index as index %}
<li><a href="{{ index }}">Home</a></li>
{% url conbet.views.results as results %}
<li><a href="{{ results }}">Resultados Reales</a></li>
{% url conbet.views.bet user.username as my_bet %}
<li><a href="{{ my_bet }}">Ver mi apuesta</a></li>
{% url conbet.views.rules as rules %}
<li><a href="{{ rules }}">Normas</a></li>
</ul>
{% endif %}
 {% block content %}
 {% endblock %}
</body> 
</html> 
